<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="#">Created by: HNDY</a>


        <!-- <ul class="pull-center">
            <li>
                <a href="#">
                   Blog
                </a>
            </li>
            <li>
                <a href="#">
                    Presentation
                </a>
            </li>
            <li>
                <a href="#">
                   Discover
                </a>
            </li>
            <li>
                <a href="#">
                    Payment
                </a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
        </ul> -->

        <ul class="social-buttons pull-right">
            <li>
                <a href="https://www.facebook.com/HndyPryg" target="_blank" class="btn btn-just-icon btn-facebook btn-simple">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/_hndypryg" target="_blank" class="btn btn-just-icon btn-instagram btn-simple">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/hndypryg" target="_blank" class="btn btn-just-icon btn-github btn-simple">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/#" target="_blank" class="btn btn-just-icon btn-youtube btn-simple">
                    <i class="fa fa-youtube-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/masih-pemula" target="_blank" class="btn btn-just-icon btn-linkedin btn-simple">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <!-- <li>
                <a href="https://twitter.com/gak-punya" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
                    <i class="fa fa-twitter"></i>
                </a>
            </li> -->
        </ul>
        
    </div>
</footer>